// Colour scheme
$red: #D51E01;
$light-red: #F2B8A9;
$pale-pink: #FDEDEB;
$dark-purple: #9487DA;
$purple: #C1B8F1;
$dark-green: #ABAF95;
$light-green: #E8EADD;
$offwhite: #FBF8F0;


// Screen breakpoints
$desktop: 1280px;
$tablet: 768px;
$mobile: 480px;
$laptop: 1024px;

$button-styles: (
  background-color: $light-green,
  border: 2px solid $dark-green,
  font-family: 'Montserrat',
  border-radius: 4px,
  font-weight: bolder,
  padding: 10px,
  cursor: pointer,
  transition: 0.1s ease-out,
  text-decoration: none,
  max-height: 50px,
  max-width: 100px,
);

$button-hover-styles: (
  background-color: $dark-green,
  color: white,
);