@font-face {
    font-family: superPlants;
    src: url(../assets/fonts/SuperPlants.ttf);
}

// Colours
$red: #D51E01;
$offwhite: #FBF8F0;
$purple: #C1B8F1;
$pale-pink: #FDEDEB;
$light-green: #E8EADD;
$dark-green: #ABAF95;

// Screen breakpoints
$tablet: 768px;