@font-face {
    font-family: superPlants;
    src: url(../assets/fonts/SuperPlants.ttf);
}

$red: #D51E01;
$offwhite: #FBF8F0;
$purple: #C1B8F1;
$pale-pink: #FDEDEB;
$light-green: #E8EADD;
$medium-green: #ABAF95;
$tablet: 768px;
$laptop: 1024px;