@import './variables.scss';


.about-carousel {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    padding: 40px 150px;
  
    .hairdresser {
      width: 300px;
      height: 500px;
      border-radius: 15px;
      margin-bottom: 80px;
      box-shadow: 0 0 60px $dark-purple; 
      background-color: $purple;
  
      img {
        width: 300px;
        height: 450px;
        border-radius: 15px;
      }
  
      .hairdresser-info {
        text-align: center; 
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }

  
  
  
  
  