@import './variables.scss';

.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-carousel {
    position: relative;
    float: left;
    flex-direction: column;
    max-width: 800px;
    padding: 40px 0 0 100px;
  
    .hairdresser {
      width: 300px;
      height: 500px;
      border-radius: 15px;
      margin-bottom: 80px;
      box-shadow: 0 0 60px $dark-purple; 
      background-color: $purple;
  
      img {
        width: 300px;
        height: 450px;
        border-radius: 15px;
      }
  
      .hairdresser-info {
        text-align: center; 
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }

@media screen and (max-width: calc($tablet + 112px)) {
  .about-carousel {
    padding: 100px 0 0 20px;
  }

  .carouselContainer {
    margin-bottom: 60px;
  }
}
  
  
  
  