// Import variables
@import './variables';

#adminPortal {
  background-color: $offwhite;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  
  .portalTabDiv {
    display: flex;
    flex-direction: column;
    
    .portalTabHeader {
      margin: 0 auto;
      width: 90vw;

      h1 {
        text-align: left;
        font-family: 'Titan One', sans-serif;
      }
    }
  }
}

#tab-buttons {
  display: flex;
  transition: 0.3s ease-in;
  background-color: $offwhite;

  a {
    font-size: 35px;
    color: black;
    padding: 20px;
    text-decoration: underline;
    transition: font-size 0.3s ease; 

    &:hover {
      font-size: 37px;

    }
  }
}

.portalTabData {
  border-top: 1px solid #000;
}

// Media Screen for Tablet
@media screen and (max-width: $tablet) {
  #tab-buttons a {
      font-size: 25px;
    }
  }