// Import variables
@import './variables';

#tab-buttons {
  display: flex;
  transition: 0.3s ease-in;
  background-color: $offwhite;

  a {
    font-size: 35px;
    color: black;
    padding: 20px;
    text-decoration: underline;
    transition: font-size 0.3s ease; 

    &:hover {
      font-size: 37px;

    }
  }
}

#appointments {
  padding: 20px 0px;
  background-color: $offwhite;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  text-align: center;

  h1 {
    font-family: 'Titan One', sans-serif;

  }

  #appointmentcontainer {
    margin: 0 auto;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#users {
  background-color: $offwhite;

  h1 {
    display: flex;
    font-family: 'Titan One', sans-serif;
    padding-left: 30px;
  }
}
