#booking {
  background-color: #FBF8F0;
  flex-grow: 2;
  display: flex;
  align-items: center;
}
#booking #bookingModule {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  box-sizing: border-box;
  background-color: #E8EADD;
  border: 3px solid #ABAF95;
  border-radius: 20px;
}
#booking #bookingModule #bookingMenu {
  text-align: left;
  border-radius: 5px;
}
#booking #bookingModule #bookingMenu #bookingHeading {
  margin: 0 auto 20px;
  width: 80%;
  border: 1px solid #ABAF95;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
}
#booking #bookingModule #bookingMenu #selectService {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  margin-bottom: 15px;
  row-gap: 5px;
}
#booking #bookingModule #bookingMenu #selectService .service-name {
  font-weight: bold;
}
#booking #bookingModule #bookingMenu #selectService .service-duration {
  grid-column: 2/4;
  font-style: italic;
  font-size: 0.8rem;
}
#booking #bookingModule #bookingMenu #selectHairstylist {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin-bottom: 15px;
}
#booking #bookingModule #bookingMenu #selectHairstylist .hairstylistEmoji {
  margin-right: 8px;
}
#booking #bookingModule #bookingMenu .preConfirmHeader, #booking #bookingModule #bookingMenu .confirmedHeader {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#booking #bookingModule #bookingMenu .preConfirmSelected, #booking #bookingModule #bookingMenu .confirmedSelected {
  text-align: center;
  margin-bottom: 20px;
}
#booking #bookingModule #bookingMenu .preConfirmSelected + .preConfirmSelected {
  margin-bottom: 50px;
}
#booking #bookingModule #bookingMenu #confirmationDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#booking #bookingModule #bookingMenu #confirmationDiv #bookingHeading {
  grid-column: 1/3;
}
#booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage {
  grid-column: 2/3;
  grid-row: 2/3;
  place-self: center;
  text-align: center;
}
#booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage img {
  max-width: 50%;
}
#booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails {
  grid-column: 1/2;
  grid-row: 2/3;
}
#booking #bookingModule #bookingBtns {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 1139px) {
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingHeading {
    grid-column: 1/3;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage img {
    margin: 30px auto;
    max-width: 25%;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails {
    grid-column: 1/3;
    grid-row: 3/5;
    display: grid;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedService {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedHairstylist {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedDateTime {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (max-width: 653px) {
  #booking #bookingModule {
    min-width: 300px;
    max-width: 80vw;
  }
  #booking #bookingModule #bookingMenu .preConfirmHeader, #booking #bookingModule #bookingMenu .confirmedHeader {
    margin-top: 20px;
  }
  #booking #bookingModule #bookingMenu .preConfirmSelected, #booking #bookingModule #bookingMenu .confirmedSelected {
    margin-bottom: 10px;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingHeading {
    grid-column: 1/3;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #bookingSuccessImage img {
    margin: 30px auto;
    max-width: 25%;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails {
    grid-column: 1/3;
    grid-row: 3/5;
    display: grid;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedService {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedHairstylist {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #booking #bookingModule #bookingMenu #confirmationDiv #confirmationDetails #confirmedDateTime {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=Booking.css.map */