@import './variables';

.bookNowButton {
    border: 2px solid $red;
    background-color: $pale-pink;
    font-family: 'Titan One', sans-serif;
    color: $red;
    font-size: 14px;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        border: none;
        background-color: $red;
        color: white;
    }
}


// Media query for tablet +
@media screen and (min-width: $tablet) {
    .bookNowButton {
        font-size: 22px;
    }   
}