@import './variables';

#footer {
    background-color: $pale-pink;
    border-top: 1px $red solid;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoContainer {
        margin: 0 auto;
        text-align:center;
    }

    &-logo {
        font-family: superPlants, sans-serif;
        font-size: 30px;
        color: $red;
    }

    #catchphrase {
        font-family: superPlants, sans-serif;
        color: $red;
        text-align: left;

        // Required to centre logo
        flex-grow: 1;
        flex-basis: 0;
    }

    #social-media {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        gap: 20px;


        // Required to centre logo
        flex-grow: 1;
        flex-basis: 0;

        a {
            color: black;
            text-decoration: none;
            // margin-left: 20px;
            font-size: 20px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            border: 3px solid #EB9082;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
    
}


// Media query for Tablet
@media screen and (max-width: $tablet) {
    #footer {
        &-logo {
            font-size: 24px;
        }
        
        #catchphrase {
            font-size: 12px;
        }
        
        .social-media a {
            display: inline-block;
            margin: 0 5px 0 0;
        }
    }
}


// Media query for Mobile
@media  (max-width: $mobile) {
    #footer {
        padding: 20px;
        flex-direction: column;

        #catchphrase {
            order: 2;
            font-size: 14px;
            text-align: center;
        }

        .logoContainer {
            display: none;
        }

        #social-media {
            order: 1;
        }
    }
}