@import './variables.scss';

.hairdresserContent {
  float: right;
  clear: right;
  width: 50%;
  padding: 30px 40px 0 0;

  .hairdresserName {
    font-family: 'Titan One', sans-serif;
    font-size: 25px;
  }

  .hairdresserBio,
  .hairdresserService {
    background-color: $light-green;
    border: 2px $dark-green solid;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $tablet) {
  .hairdresserContainer {
    padding: 20px 40px 0 5px;
  }

  .hairdresserName {
    font-size: 10px;
  }

  .hairdresserBio,
  .hairdresserService {
    font-size: 14px;
    margin-bottom: 0;
  }
}


