@import './variables';

#loginContainer {
  display: flex;
  flex-grow: 2;
  background-color: $offwhite;
  justify-content: center;
}

#loginImageDiv {
  background-image: url(../assets/photos/login_image.jpg);
  background-size: cover;
  background-position: bottom center;
  width: 100vw;
  flex-grow: 2;
}

#loginFormDiv {
  background-color: $offwhite;
  border: 2px solid $red;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  width: 80vw;
  min-width: 250px;
  min-height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  // Vertically align div
  align-self: center;
  // Align children elements
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 20px;
    font-family: 'Titan One', sans-serif;
    font-weight: lighter;
    color: $red;
    text-transform: uppercase;
  }

  #loginForm {
    margin: 0 auto;

    .inputGroup {
      margin-bottom: 15x;

      a {
        text-decoration: underline;
        color: black;
        font-size: 0.8rem;
      }

      label {
        display: block;
        margin-bottom: 10px;
        text-align: left;
      }
  
      input {
        margin-bottom: 10px;
        width: 100%;
        min-width: 120px;
        padding: 8px;
        box-sizing: border-box;
        border: 2px solid $dark-green;
        border-radius: 10px;
      }

      #loginButton {
        margin-top: 20px;
      }
    }

  }
}


// Media query for tablet
@media screen and (min-width: $tablet) {
  #loginFormDiv {
    #loginForm {
      width: 80%;
    }
  }
}


// Media query for laptop+
@media screen and (min-width: $laptop) {
  #loginContainer {
    flex-direction: row;
  }

  #loginImageDiv {
    width: 50vw;
  }

  #loginFormDiv {
    width: 50vw;
    position: relative;
    border: none;
  }
}




//     // Styling for the submit button within the form
//     .loginButton {
//       border: 2px solid $red;
//       background-color: $pale-pink;
//       font-family: 'Titan One', sans-serif;
//       color: $red;
//       font-size: 14px;
//       padding: 12px 20px;
//       cursor: pointer;
//       border-radius: 5px;
//       transition: 0.1s ease-out;
//       text-decoration: none;
      
//       &:hover {
//         background-color: $red;
//         color: white;
//       }
//     }
//   }

// }




//   .loginForm {
//     width: 60%; 
//     max-width: 300px;
//     height: 60%; 
//     background-color: $offwhite;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 20px;
//     border: 2px solid $dark-green;
//     border-radius: 10px;
//     box-shadow: 20px $dark-green;

// /* Styling for the overall container of the login page */
// .loginContainer {
//   display: flex;
//   flex-grow: 2;
//   justify-content: space-between;
//   text-align: center;
//   background-color: $offwhite;
// }

// /* Styling for the image container on the left side */
//   .loginImage {
//     display: flex;
//     flex-grow: 1;
//     width: 50vw;
//     height: 100vh;
//     object-fit: cover;
    
//   }


// // Styling for the login form within the container
// .loginForm {
//   flex-grow: 2;
//   margin: auto;
//   padding: 80px;
//   text-align: center;
//   font-family: 'Montserrat', sans-serif;

//   h2 {
//     margin-bottom: 20px;
//     font-family: 'Titan One', sans-serif;
//     font-weight: lighter;
//   }

//   // Styling for form element
//   form {
//     display: flex;
//     flex-direction: column;

//     // Styling for each input group within the form
//     .inputGroup {
//       margin-bottom: 15px;

//       label {
//         margin-bottom: 8px;
//         display: block;
//       }

//       // Styling for input fields
//       input {
//         width: 100%;
//         min-width: 120px;
//         padding: 8px;
//         box-sizing: border-box;
//       }
//     }

//     // Styling for the submit button within the form
//     .loginButton {
//       border: 2px solid $red;
//       background-color: $pale-pink;
//       font-family: 'Titan One', sans-serif;
//       color: $red;
//       font-size: 14px;
//       padding: 12px 20px;
//       cursor: pointer;
//       border-radius: 5px;
//       transition: 0.1s ease-out;
//       text-decoration: none;
      
//       &:hover {
//         background-color: $red;
//         color: white;
//       }
//     }
//   }

// }

// // Login form size adjusts for tablet
// @media screen and (max-width: $tablet) {
//   .loginForm {
//     top: 50%;
//     left: 50%;
//     position: absolute;
//     transform: translate(-50%, -50%);
//     width: 60%; 
//     max-width: 300px;
//     height: 60%; 
//     background-color: $offwhite;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 20px;
//     border: 2px solid $dark-green;
//     border-radius: 10px;
//     box-shadow: 20px $dark-green;
//   }
// }