@import './variables';

.overlay {
    top: 0;
    right:0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#modalContainer {
    max-width: none;
    min-width: 280px;
    width: 80%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $offwhite;
    border: 2px solid $light-green;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 18px 0 rbga(0, 0, 0, 0.75);

    i {
        float: right;
        cursor: pointer;
    }

    #modalContent {
        h3 {
            font-family: 'Titan One', sans-serif;
            font-weight: lighter;
        }
    }

    #modalForm {
        text-align: left;

        #adminModalFormUpdate {
            display: flex;
            flex-direction: column;

            .updateFormDiv {
                display: grid;
                grid-template-columns: 1fr 2fr;
                margin-bottom: 10px;
                
                .updateFormField {
                    grid-column: 1 / 2;
                }

                .updateFormValue {
                    grid-column: 2 / 5;
                }

                input.updateFormValue {
                    padding: 5px;
                    box-sizing: border-box;
                    border: 1px solid $dark-green;
                    border-radius: 5px;
                }
            }
        }
    }

    #modalButtons {
        display: flex;
        flex-direction: column;
        align-items: center;

        Button {
            background-color: $light-green;
            border: 2px solid $dark-green;
            border-radius: 4px;
            margin-top: 10px;
            font-weight: bolder;
            padding: 5px 10px;
            font-family: 'Montserrat', sans-serif;
            width: 180px;
            cursor: pointer;
        }
    }
}