@import "./_variables";

.servicescard {
    width: 30vw;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;

    #servicesheader{
        display: flex;
        
        #servicename {
            margin: 5px auto;
            flex-grow:1;
            font-family: "Titan One", sans-serif;
            font-size: 2rem;
            text-align: left;
        }

        #serviceprice {
            margin: auto;
            flex-grow:1;
            font-family: "Titan One", sans-serif;
            font-size: 1.5rem;
            text-align: right;
        }
        
    }
    
    #servicedescription {
        background-color: $light-green;
        border: 5px solid $dark-green;
        border-radius: 20px;
        padding: 20px;
        min-height: 5vh;
    }
};


// Media query for laptop
@media (min-width: $laptop) and (max-width: $desktop) {
    .servicescard {
        width: 400px;
        margin: 30px 30px;

        #servicesheader {
            #servicename, #serviceprice {
                font-size: 1.5rem;
            }
        }
    }
}


// Media query for tablet
@media screen and (max-width: calc($laptop - 1px)) {
    .servicescard {
        width: 80vw;
        max-width: 500px;
        margin: 0px 0px 50px;

        #servicesheader {
            #servicename, #serviceprice {
                font-size: 1.5rem;
            }
        }
    }
}


// Media query for mobile
@media screen and (max-width: $mobile) {
    .servicescard {
        width: 80vw;
        margin: 0px 0px 30px;

        #servicesheader {
            #servicename, #serviceprice {
                font-size: 1.2rem;
            }
        }
    }
}