@import './variables';

.servicesTab {
    display: flex;
    flex-direction: row;
    padding: 10px; 
  
  #servicename,
  #description,
  #price,
  #isHairstylist,
  #duration {
    flex: 1;
  }

  #button {
    @each $property, $value in $button-styles {
      #{$property}: $value;
    }
    &:hover {
      @each $property, $value in $button-hover-styles {
        #{$property}: $value;
      }
    }
  }
}