@import './variables';

#services {
    padding: 20px 0px;
    background-color: $offwhite;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-family: 'Titan One', sans-serif;
        text-decoration: underline;
    }

    #servicescontainer {
        margin: 0 auto;
        max-width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #bookNowBtnContainer {
        margin: 50px auto;
    }
}


// Media query for tablet and mobile
@media screen and (max-width: calc($laptop - 115px)) {
    #services {
        #servicescontainer {
            flex-flow: column wrap;
        }
    }
}

//media query for tablets and smaller screens dispaly less columns
@media screen and (max-width: $tablet) {
    #description,
    #duration {
      display: none;
    }     
}

// Media query for mobile
@media screen and (max-width: $mobile) {
    #services {           
        h1 {
            font-size: 2rem;
        }
    }
}