@import './variables.scss';

.userPortalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    h3 {
        font-family: 'Titan One', sans-serif;
        font-weight: lighter;
        font-size: 18px;
    }
    .formFields {
        font-family: 'Montserrat', sans-serif;
        margin: 5px;
        width: 215px;
        padding: 2px 4px;
        border-radius: 5px;
    }
    .formFields:focus{
        background-color: $light-green;
        outline: none;
    }
    Button {
        background-color: $light-green;
        border: 2px solid $dark-green;
        border-radius: 4px;
        margin-top: 10px;
        font-weight: bolder;
        padding: 5px 10px;
        font-family: 'Montserrat', sans-serif;
    }
}